# General
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Ant
dist/
build/

# Maven
target/

# Eclipse
.settings/
.classpath
.project

# NetBeans
nbproject/
nbbuild/
nbdist/
build/
dist/
nbactions.xml
nb-configuration.xml
build.xml
manifest.mf
